html {
   font-family: "Dela Gothic One", sans-serif;

}

.pop{font-family: "Dela Gothic One", sans-serif;}



.container{
width:90%;
max-width:1120px;
background-color: gainsboro a;
margin:0 auto;
}
.flex {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}

header {
    padding:20px 0;}

.logo{
font-size: 50px;
font-weight: 400;
letter-spacing: -0.04em;
}


.logo span{
color:darkolivegreen
}

.header_menu li{
    margin-right: 30px;
    
}

.header_menu li a:hover{
    color:darkred;
}





#hero {
background-image: url(../images/girl.jpg);
background-position: center;
background-size: cover;
height:450px;
border-radius:45px;
}






